
    <section id="main-slider" class="no-margin">
        <div class="carousel slide wet-asphalt">
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(/static/images/slider/bg2.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered">
                                    {% if user.is_anonymous%}
                                    <h2 class="animation animated-item-1">TriviadorOnline - Dota</h2>
                                    <p class="animation animated-item-2">Demustra cuanto sabes acerca de dota</p>
                                    {%endif%}
                                    {% if not user.is_anonymous%}
                                    <h1 class="animation animated-item-1">Bienvenido {{ user.get_full_name }} a Triviador-Dota</h1>
                                    <p class="animation animated-item-2">Demustra cuanto sabes acerca de dota</p>
                                    <img src="/media/{{ user.perfil.avatar.url_200x200}}" alt="avatar">
                                    <h1 class="animation animated-item-1">Conectado desde: {{ user.perfil.pais }}</h1>
                                    {%endif%}
                                    {%block containercarr%}

                                    {%endblock%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-twitter icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Twitter</h3>
                            <a href="http://www.twitter.com">
                            <p>Envia tus sugerencias</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-facebook icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Facebook</h3>
                           <a href="http://www.fb.com">
                            <p>Envia tus sugerencias</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">                    
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-google-plus icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Google</h3>
                            <a href="http://www.gmail.com">
                            <p>Envia tus sugerencias</p>
                            </a>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </section>   