section#main-slider.no-margin
 div(id="gener", class="carousel slide wet-asphalt")
  div(class="carousel-inner")
   div(class="item active", style="background-image: url(/images/slider/bg1.jpg)")
    div(class="container")
     div(class="row")
      div(class="col-sm-12")
       div(class="carousel-content centered")
        h2(class="animation animated-item-1") Empieza tu experiencia...
        div(class="row")
         aside(class="col-sm-4 col-sm-push-8")
            
         div(class="col-sm-8 col-sm-pull-4")
          div(class="blog")
           div(class="blog-item",style="background-image: url(/images/form/form3.jpg)")
            div(class="container page")
             div(class="row")
              div(class="col-xs-1")
              div(class="col-xs-6")
               div(class="row")
                 h2 conectarse                 
                  p
                   h3 Empieza a jugar y da a conocer cuanto sabes sobre dota
                  p
                   h3 Triviador dota, desmustra tus conocimiento sobre este juego que te mantiene despierto
                  p
                   h3 Rampage, destroza a tus enemigos.
                 p
                  a(class="btn btn-primary btn-lg active", role="button", id="empezar") Empezar
                  input(type="hidden", id="nickname", value="#{username}")
                  input(type="hidden",value="#{idsession}", id="id_session")
 div#content