extends layout
block content
  section#main-slider.no-margin
   div(class="carousel slide wet-asphalt")
    div(class="carousel-inner")
     div(class="item active", style="background-image: url(/images/slider/bg1.jpg)")
      div(class="container")
       div(class="row")
        div(class="col-sm-12")
         div(class="carousel-content centered")
          h2(class="animation animated-item-1") Registrar nueva pregunta
          div(class="row")
           aside(class="col-sm-4 col-sm-push-8")
           
           div(class="col-sm-8 col-sm-pull-4")
            div(class="blog")
             div(class="blog-item",style="background-image: url(/images/form/form2.jpg)")
              div(class="container page")
               div(class="row")
                div(class="col-xs-2")
                div(class="col-xs-8") texto